body {
    font-family: Arial, sans-serif;
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

.product-container {
    display: flex;
    gap: 40px;
}

.product-image {
    flex: 1;
}

.product-image img {
    width: 100%;
    border-radius: 10px;
}

.product-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-name {
    font-size: 24px;
    font-weight: bold;
}

.product-price {
    font-size: 20px;
    color: #000000;
}

.product-desc {
    font-size: 16px;
    color: #555;
}

.quantity {
    width: 60px;
    padding: 5px;
}

.actions button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-cart {
    background-color: #0f2df1;
    color: white;
}

.btn-buy {
    background-color: #2e48cc;
    color: white;
}