<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 글 작성</title>
    <link rel="stylesheet" href="../static/css/board.css">
</head>
<body>

    <form class="board-form" action="/board/write" method="post" enctype="multipart/form-data">
        <h2>게시글 작성</h2>

        <label for="title">글 제목</label>
        <input type="text" id="title" name="title" required>

        <label for="content">글 내용</label>
        <textarea id="content" name="content" rows="8" required></textarea>

        <label for="image">사진 첨부</label>
        <input type="file" id="image" name="image" accept="image/*">
        <div id="imagePreviewContainer"></div>

        <button type="submit">제출</button>
    </form>

    <script src="../static/js/board.js"></script>
</body>
</html>
